option_settings:
  aws:elasticbeanstalk:environment:
    LoadBalancerType: application
  aws:elasticbeanstalk:application:environment:
    SPRING_PROFILES_ACTIVE: prod
  aws:autoscaling:launchconfiguration:
    InstanceType: t2.micro
    SecurityGroups: levelupapi-sg
  aws:autoscaling:asg:
    MinSize: 1
    MaxSize: 3
  aws:elasticbeanstalk:cloudwatch:logs:
    StreamLogs: true
    DeleteOnTerminate: false

Resources:
  AWSEBSecurityGroup:
    Type: AWS::EC2::SecurityGroup
    Properties:
      GroupName: levelupapi-sg
      GroupDescription: Security group for levelupapi application
      SecurityGroupIngress:
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 0.0.0.0/0
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 0.0.0.0/0
